<h1>Create Message</h1>

<form method="POST" action="/messages/create">
  <input name="title" placeholder="Title" />
  <textarea name="text" placeholder="Message"></textarea>
  <button>Post</button>
</form>